<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main>
   <h2>Credits availabe: <%= credit %></h2>
    <form action="/cart" method="post">
        <button type="submit">Buy</button>
    </form>
   <div>
         <% data.forEach(function(item,index){ %>

             <div class="grid">
               <article class="card product-item">
                  <header class="card__header">
                      <h1 class="product__title"><%= item.title %></h1>
                  </header>
                  <div class="card__image">
                      <img src= <%= item.image %> alt=<%= item.image %>>
                  </div>
                  <div class="card__content">
                      <h2 class="product__price">$<%= item.price %></h2>
                      <p class="product__description">Qt Ord:<%= item.quant %></p>
                  </div>
   
              </article>
             </div>
             
         <% }) %>
   </div>
</main>
<%- include('../includes/end.ejs') %>